body.dark-theme {
    background-color: #141414cf; /* Set background color to black */
    color: #fff; /* Set text color to white */
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
